a.sl-link-button.primary,
a.sl-link-button.secondary {
  background: transparent !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
  color: white !important;
  box-shadow: none !important;
}

a.sl-link-button.primary:hover,
a.sl-link-button.secondary:hover {
  background: rgba(255,255,255,0.1) !important;
}